.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table {
  width:600px;
  border: 1px solid lightgrey;
  border-radius: 3x;
}
th{
  text-align: left;
  padding-left: 4px;
}
td{
  width:300px;
  padding-left: 4px;
}